<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Idealizer</title>

    <link rel="stylesheet" href="/s/css/pure/0.5.0/base.css">
    <link rel="stylesheet" href="/s/css/pure/0.5.0/pure.css">
    <link rel="stylesheet" href="/s/font-awesome-4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/s/css/main.css">

    <script src="/s/js/jquery-2.1.1.js"></script>
    <script src="/s/js/jquery.cookie.js"></script>
    <script src="/s/js/underscore.js"></script>
    <script src="/s/js/backbone.js"></script>
    <script src="/s/js/humanized_time_span.js"></script>
    
    <script src="/s/js/idea.js"></script>
    <script src="/s/js/practices.js"></script>
    <script src="/s/js/things.js"></script>
</head>

<body>

<div id="idea-view">
    <div id="main">
    
        <div class="head">
            <div class="right">
                <div id="practice-selector"></div>
                <form class="pure-form idea-search-form">
                    <input type="text" placeholder="Search" class="pure-input-rounded">
                </form>
            </div>
            <nav role="navigation">
                <div class="pure-menu pure-menu-open pure-menu-horizontal idea-menu">
                    <a href="/" class="pure-menu-heading"><h1>Idealizer</h1></a>

                    <ul>
                        <li><a href="/practices">Practices</a></li>
                        <li><a href="/topics">Topics</a></li>
                        <li><a href="/things">Things</a></li>
                        <li><a href="/compare">Compare</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="content">{% block content %}{% endblock %}</div>

        <div class="footer">
        {% block footer %}
            &copy; Copyright 2014 by <a href="#">Idealizer</a> |
            <a href="/">Find</a> | <a href="/">Blog</a> | <a href="/">About</a>
        {% endblock %}
        </div>

    </div>
</div>

{% include 'templates.html' %}

<script src="/s/js/components.js"></script>
<script>
var idea = new Idea
$(document).ready(function() {
    idea.init()
    {% block script %}{% endblock %}
})
</script>

</body>
</html>
