{% extends "base.html" %}

{% block title %}Practices{% endblock %}

{% block content %}

<h2>Edit Practice</h2>
<div id="practice-selector"></div>
<div id="edit-practice"></div>

<script type="text/template" id="edit-practice-template">
    <form class="pure-form idea-form" id="edit-practice-form">
        <legend>Settings</legend>
        <fieldset>
            <input type="text" class="practice-name" placeholder="Practice name..." value="<%= practice.name() %>" required>
        </fieldset>

        <legend>Properties</legend>
        <div id="edit-practice-properties"></div>
        <button class="pure-button button-add" type="button">Add new property</button>

        <fieldset>
            <legend></legend>
            <button class="pure-button pure-button-primary" type="button">Save Practice</button>
            &nbsp;
            <i class="fa fa-refresh fa-spin hidden idea-load-spin"></i>
        </fieldset>
    </form>
</script>

<script type="text/template" id="practice-selector-template">
    <form class="pure-form">
        <select>
            <% _.each(practices, function(practice) { %>
                <option value="<%= practice.cid %>"><%= practice.isNew() ? 'Create new...' : practice.get('name') %></option>
            <% }) %>
        </select>
        <button class="pure-button button-delete hidden" type="button">Delete Practice</button>
        &nbsp;
        <i class="fa fa-refresh fa-spin hidden idea-load-spin"></i>
    </form>
</script>

<script type="text/template" id="edit-practice-property-template">
    <fieldset>
        <input type="text" name="property-name" value="<%= name %>" placeholder="Property name..." required>
        <select name="property-type">
            <% _.each(types, function(t) { %>
                <option value="<%= t %>" <% if (t == type) print('selected') %>><%= t %></option>
            <% }) %>
        </select>
        <button class="pure-button button-small button-delete" type="button">Delete</button>
    </fieldset>
</script>

{% endblock %}


{% block script %}
idea.renderPractices()
{% endblock %}
