<script type="text/template" id="practice-selector-template">
    <form class="pure-form">
        <select>
            <% _.each(practices, function(practice) { %>
                <option value="<%= practice.cid %>" <% if (selected == practice.id) print('selected="selected"') %>>
                    <%= practice.isNew() ? 'Create new...' : practice.get('name') %>
                </option>
            <% }) %>
        </select>
        <button class="pure-button button-delete hidden" type="button">Delete Practice</button>
        &nbsp;
        <i class="fa fa-refresh fa-spin hidden idea-load-spin"></i>
    </form>
</script>

<script type="text/template" id="image-upload-template">
    <div class="pure-g image-uploads">
        <div class="pure-u-1-<%= cols %>">
            <div class="idea-square-wrapper">
                <div class="idea-square-container upload-controls">
                    <div>
                        Upload images
                        <div class="max-images faded"></div>
                        <button type="button" class="pure-button">
                            <span>Select</span><i class="fa fa-refresh fa-spin hidden load-spin"></i>
                        </button>
                        <input class="pure-button" type="file" name="image" multiple>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="uploaded-image-template">
    <div class="pure-u-1-<%= cols %> image-container">
        <div class="idea-square-wrapper">
            <div class="idea-square-container" blob_key="<%= blob_key %>" style="background-image: url(<%= url %>)">
                <i class="fa fa-minus-circle delete"></i>
            </div>
        </div>
    </div>
</script>
