{% extends "base.html" %}

{% block title %}Things{% endblock %}

{% block content %}

<div id="edit-thing"></div>
<div id="things-grid"></div>

<script type="text/template" id="things-grid-template">
    <div><button class="pure-button button-add right new-thing">Make a new thing</button></div>
    <div class="clear"></div>
    <% if (_.isEmpty(things)) { %>
        <p>There are no things yet, make some!</p>
    <% } %>
    <div class="pure-g">
        <% _.each(things, function(thing) { %>
            <div class="pure-u-1-5">
                <div class="idea-thing">
                    <a href="/thing/<%= thing.id %>">
                        <img class="pure-img" src="/s/img/learning_maths.jpg">
                    </a>
                    <div class="idea-title">
                        <a href="/thing/<%= thing.id %>"><%= thing.name() %></a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</script>

<script type="text/template" id="edit-thing-template">
    <div><button class="pure-button right close-edit-thing">Close</button></div>
    <form class="pure-form pure-form-stacked idea-form">
        <fieldset>
            <legend>Add a new thing to <%= practiceName %></legend>

            <fieldset class="pure-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Name..." required>
            </fieldset>

            <div id="thing-properties"></div>

            <button class="pure-button pure-button-primary" type="button">Save Thing</button>
            &nbsp;
            <i class="fa fa-refresh fa-spin hidden idea-load-spin"></i>

        </fieldset>
    </form>
</script>

{% endblock %}

{% block script %}
    idea.loadThings()
    idea.renderThings()
    idea.renderPracticeSelector()
{% endblock %}

