{% extends "base.html" %}

{% block title %}Things{% endblock %}

{% block content %}

<div id="thing-details" class="slider"></div>
<div id="edit-thing" class="slider"></div>
<div id="things-grid"></div>

<!-- Thing list view -->
<script type="text/template" id="things-grid-template">
    <div class="top-right-buttons">
        <button class="pure-button button-add new-thing">Make a new thing</button>
    </div>

    <h3 class="center">
        Things in <%= practice.name() %>
    </h3>
    <% if (_.isEmpty(things)) { %>
        <p>There are no things yet, make some!</p>
    <% } %>
    <div class="pure-g">
        <% _.each(things, function(thing) { %>
            <div class="pure-u-1-5">
                <div class="thing" thing-id="<%= thing.id %>">
                    <a href="/thing/<%= thing.id %>">
                        <img class="pure-img" src="<%= thing.image() %>">
                    </a>
                    <div class="thing-name">
                        <a href="/thing/<%= thing.id %>">
                            <div><%= thing.name() %></div>
                            <div class="time grey"><%= thing.time() %></div>
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</script>

<!-- Thing details view -->
<script type="text/template" id="thing-details-template">
    <div class="top-right-buttons">
        <button class="pure-button button-add edit-thing">Edit</button>
        <button class="pure-button close-thing">Close</button>
    </div>
    <div>
        <h3 class="center">
            <%= thing.name() %>
            <div>in <%= thing.practice().name() %> - <%= thing.time() %></div>
        </h3>

        <div class="thing-properties"></div>
    </div>
</script>

<script type="text/template" id="text-property-template">
    <div class="pure-g thing-property">
        <div class="pure-u-1-2 thing-property-name">
            <%= name %>
        </div>
        <div class="pure-u-1-2 thing-property-value">
            <% 
            if (size > 1) {
                for (var i = 0; i < size; i++) {
                    %><div><%= value[i] %></div><%
                }
            } else {
                %><div><%= value %></div><%
            } %>
        </div>
    </div>
</script>

<script type="text/template" id="image-property-template">
    <div class="thing-property-vertical">
        <div class="thing-property-name"><%= name %></div>
        <div class="thing-property-value image-scroller">
            <% 
            if (size > 1) {
                for (var i = 0; i < size; i++) {
                    if (value[i]) %><img src="<%= value[i].url %>"><%
                }
            } else {
                if (value) %><img src="<%= value.url %>"><%
            } %>
        </div>
    </div>
</script>

<!-- Edit Thing view -->
<script type="text/template" id="edit-thing-template">
    <div class="top-right-buttons">
        <% if (!thing.isNew()) { %><button class="pure-button button-delete delete-thing">Delete</button><% } %>
        <button class="pure-button close-thing">Close</button>
    </div>

    <h3><% if (thing.isNew()) { %>Add a new thing to<%  } else { %>Editing in<% } %> <%= practiceName %></h3>

    <form class="pure-form pure-form-stacked idea-form">
        <fieldset>

            <fieldset class="pure-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="thing-name" value="<%= thing.name() %>" placeholder="Name..." required>
            </fieldset>

            <div class="thing-properties"></div>

            <button class="pure-button pure-button-primary" type="button">Save</button>
            &nbsp;
            <i class="fa fa-refresh fa-spin hidden idea-load-spin"></i>

        </fieldset>
    </form>
</script>

<script type="text/template" id="edit-text-property-template">
    <fieldset class="pure-group">
        <label><%= name %></label>
        <% 
        if (size > 1) {
            for (var i = 0; i < size; i++) {
                %><input type="text" index="<%= i %>" value="<%= value[i] %>" required><%
            }
        } else {
            %><input type="text" value="<%= value %>" required><%
        } %>
    </fieldset>
</script>

<script type="text/template" id="edit-image-property-template">
    <fieldset>
        <label><%= name %></label>
        <div class="image-uploads"></div>
    </fieldset>
</script>

{% endblock %}

{% block script %}
    idea.renderPracticeSelector()
    idea.loadThings()
    idea.renderThings()
{% endblock %}

